@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    box-sizing: border-box;
    height: 100svh;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

.body-dark {
    background-color: #28282B;
    color: #FFFFF0;
}
.btn-google {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
}
.result-wrapper {
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f8f9fa;
    border-radius: 4px;
}
.list-inline-item {
    cursor: pointer;
    transition: 0.2s;
}

.list-inline-item:hover {
    text-decoration: underline !important;
}

.google {
    max-width: 300px;
}

#more {
    transition: 0.3s;
}

#more:hover {
    background-color: rgb(204, 204, 204);
}

.main-wrapper {
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.button-input-wrapper {
    z-index: 3;
    min-height: 44px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

#searchInput {
    outline: none !important;
}
